<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Malisa's <%= title %> page!</h1>
      
      
    </div>
    <div class="para">
      <h4><a href="/about">Read about me</a></h4>
    </div>
    <div class="para">
      
<h2>Mission Statement</h2>
<p>As a developer, my mission is to enhance business growth of our customers with creative design, development and to deliver market defining high quality solutions that create value and reliable competitive advantage to customers around the globe.</p>

    </div>
    <div class="para">
      <h4><a href="/projects">View some of my projects</a></h4>
      <h4><a href="/services">Use our services</a></h4>
      <h4><a href="/contact">Contact Me!</a></h4>
    </div>
    
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




